data/FirstExperiment/sub-01-dwi_ses-1.nii
data/FirstExperiment/sub-01-dwi_ses-2.nii
data/FirstExperiment/sub-2115-T1.nii
data/FirstExperiment/sub-2115-T2.nii
data/FirstExperiment/sub-2117-T1.nii
data/FirstExperiment/sub-2117-T2.nii
